* {
  box-sizing: border-box; 
}

body{
  margin-top: 16em;
  background: linear-gradient(to left, #E05001, #f5ca1a);
}

.search-container {
 width: 400px;
 position: relative;
 margin: 15px auto;
}
.search-container input,
.search-container .suggestions {
  width: 100%;
  background: #fff;
  text-align: left;
}
.search-container input {
  background: rgba(255, 255, 255, 0.2);
  height: 60px;
  padding: 0 10px;
}
.search-container .suggestions {
   position: absolute;
   top: 60px;
}

ul {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px 0 rgb(0,0,0.2);
  max-height: 200px;
  overflow-y: auto;
}

ul.has-suggestions {
  display: block;
}

ul li {
  padding: 10px;
  cursor: pointer;
  background: #F0AB3E;
}
ul li:hover {
  background-color: #e65c00;
}

input {
  border-bottom: 2px solid #e65c00;
  background: #F0AB3E;
}